@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

.wrapper {
  background-color: var(--Grayish-purple);
}

.faq-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--Light-pink);
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.faq-card header {
  display: flex;
  gap: 10px;
}

.faq-card .dropdown {
  border-bottom: 0.5px solid var(--Grayish-purple);
  padding: 15px 0;
}

.faq-card .dropdown:last-of-type {
  border-bottom: none;
}

.faq-card .dropdown .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column span {
  font-weight: 600;
}

.faq-card .dropdown-data {
  display: none;
}

.faq-card .dropdown-data.show {
  display: block;
  padding: 15px 0 0 0;
  color: var(--Grayish-purple);
}
